*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    user-select: none;
    text-align: center;
}
.section-trois-starter {
    display: flex;
    flex-direction: column;
}
.container-trois-starter {
    display: flex;
    flex-direction: column;
}
.sous-container-trois-starter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.section-all-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-all-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sous-container-all-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-type {
    height: 2rem;
    margin: 1rem;
}
.section-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.article-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.img-pokemon {
    height: 2rem;
}